<template>
  <div id="header" :class="{ header_srolled: srolled }">
    <div class="title">{{ title }}</div>
  </div>
</template>

<script>
const htmlElm = document.documentElement

export default {
  data() {
    return {
      srolled: false
    }
  },

  computed: {
    title() {
      return this.$store.state.title
    }
  },

  mounted() {
    this.addOnScroll()
  },

  methods: {
    addOnScroll() {
      window.addEventListener('scroll', this.handleScroll)
    },

    removeOnScroll() {
      window.removeEventListener('scroll', this.handleScroll)
    },

    handleScroll() {
      if (htmlElm.scrollTop > 72 && !this.srolled) {
        this.srolled = true
      } else if (htmlElm.scrollTop <= 72 && this.srolled) {
        this.srolled = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#header {
  position: fixed;
  left: $aside-width;
  right: 0;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  background-color: #3f51b5;
  transition: $common-transition;
  z-index: 2;

  &.header_srolled {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);

    & .title {
      opacity: 1;
    }
  }

  .title {
    opacity: 0;
    transition: $common-transition;
  }
}
</style>
