<template>
  <div v-loading="loading" class="detail_wrapper">
    <div class="article-detail">
      <div class="title">{{ article.title }}</div>
      <div class="meta">
        <span class="date">{{ article.created_at | dateFormatter }}</span>
        <span class="classification">
          <span class="classification_item">分类一</span>
        </span>
      </div>
      <blockquote class="common_blockquote">
        <div class="abstract">
          <strong>{{ article.description || article.title }}</strong>
        </div>
      </blockquote>
      <img
        class="cover"
        src="http://hdPublic.youlingxi.cn/5e78eb1136458871e01fee4c."
        alt=""
      />
      <div ref="contentRef" class="content"></div>
    </div>
    <div class="prev_next">
      <div class="navPart navPart__prev">
        <router-link
          v-if="prev"
          :to="{ name: 'articleDetail', params: { id: prev._id } }"
        >
          <div class="tip">上一篇</div>
          <div class="navTitle">{{ prev.title }}</div>
        </router-link>
      </div>
      <div class="navPart navPart__next">
        <router-link
          v-if="next"
          :to="{ name: 'articleDetail', params: { id: next._id } }"
        >
          <div class="tip">下一篇</div>
          <div class="navTitle">
            {{ next.title }}
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import marked from 'marked'
import dayjs from 'dayjs'

export default {
  filters: {
    dateFormatter: timeStamp => dayjs(timeStamp).format('YYYY-MM-DD')
  },
  data() {
    return {
      loading: false,
      saving: false,

      article: {
        title: '',
        description: '',
        content: ''
      },

      next: null,
      prev: null
    }
  },

  computed: {
    id() {
      return this.$route.params.id
    }
  },

  watch: {
    id() {
      this.onMounted()
    }
  },

  mounted() {
    this.onMounted()
  },

  methods: {
    onMounted() {
      this.handleGetArticleDetail()
    },

    updateTitleAndDescription(title, description) {
      this.$store.commit('updateTitle', title)
      this.$store.commit('updateDescription', description)
    },

    handleGetArticleDetail() {
      if (this.$route.params.id) {
        this.$request({
          url: `/article/${this.id}`,
          onBefore: () => (this.loading = true),
          onSuccess: res => {
            const { title, content, description } = res.data.detail
            const innerHTML = marked(content)

            this.article = { title, content, description }
            this.$refs.contentRef.innerHTML = innerHTML
            this.prev = res.data.prev
            this.next = res.data.next

            this.updateTitleAndDescription(title, '')
          },
          onFinally: () => (this.loading = false)
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.article-detail {
  margin-top: -150px;
  min-height: 100px;
  padding: 35px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  .meta {
    padding-right: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #b4b4b4;

    & > *:not(:first-child):before {
      content: '·';
      padding: 0 0.5em;
    }
    .date {
      line-height: 24px;
      font-weight: bold;
    }

    .classification {
      line-height: 14px;
      font-size: 13px;
      font-weight: bold;
      color: #727272;

      .classification_item {
        color: $contrasting-color;
      }
    }
  }

  .common_blockquote {
    position: relative;
    padding: 16px 20px;
    border-left: 4px solid #3f51b5;
    color: #6e6e6e;
    background: #f5f5f5;
    font-size: 14px;
    border-radius: 0 2px 2px 0;

    .abstract {
      margin: 0 0 8px;
      font-size: 13px;
      line-height: 24px;
      color: #727272;
      font-style: italic;
    }
  }

  .cover {
    display: block;
    max-width: 600px;
    margin: 20px auto 48px;
  }

  .content ::v-deep {
    pre {
      background-color: #2d2b55;
      color: #fff;
      padding: 32px;
      border-radius: 6px;
      overflow: auto;

      code {
        font-family: Operator Mono SSm A, Operator Mono SSm B, Consolas,
          monospace;
      }
    }

    h2 {
      margin: 20px 0;
    }
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    word-break: break-word;
  }
}

.prev_next {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  line-height: 2em;
  font-size: 16px;
  padding: 10px 16px;

  > .navPart {
    width: 48%;

    > a {
      text-decoration: none;
    }

    .tip {
      color: #727272;
    }
    .navTitle {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 28px;
      line-height: 1.5;
      color: $element-primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #3f51b5;
        transform: scaleX(0);
        transition: $common-transition;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &.navPart__next {
      text-align: right;
    }
  }
}
</style>
