<template>
  <div v-if="$route.name === 'articleList'" class="wrapper">
    <div class="article-wrapper">
      <div v-for="item in list" :key="item._id" class="article-item">
        <div class="meta">
          <span class="date">{{ item.created_at | dateFormatter }}</span>
          <span class="classification">
            <span class="classification_item">分类一</span>
          </span>
        </div>
        <router-link
          class="title"
          :to="{ name: 'articleDetail', params: { id: item._id } }"
          >{{ item.title }}</router-link
        >
        <blockquote class="common_blockquote">
          <div class="abstract">
            <strong>{{ item.description || item.title }}</strong>
          </div>
        </blockquote>
        <img
          class="cover"
          src="http://hdPublic.youlingxi.cn/5e78eb1136458871e01fee4c."
          alt=""
        />
        <div class="read_more" @click="goDetail(item._id)">阅读更多...</div>
        <div class="tags">
          <div class="tag_item">标签一</div>
        </div>
      </div>
      <div v-if="loading" style="height: 100px;">加载中...</div>
      <div v-if="!list.length && !loading">暂时没有数据哦</div>
      <div v-if="list.length && list.length === total">已经到底啦</div>
    </div>
  </div>
  <router-view v-else @update-list="getList"></router-view>
</template>

<script>
import dayjs from 'dayjs'
import throttle from 'lodash.throttle'
import debounce from 'lodash.debounce'

const htmlElm = document.documentElement

export default {
  filters: {
    dateFormatter: timeStamp => dayjs(timeStamp).format('YYYY-MM-DD')
  },

  data() {
    this.scrollHandler = () => {
      if (
        !(htmlElm.scrollHeight - htmlElm.scrollTop - 10 > htmlElm.clientHeight)
      ) {
        this.debouncedTouched()
      }
    }
    this.throttledHandler = throttle(this.scrollHandler, 200)
    this.debouncedTouched = debounce(() => {
      if (this.list.length < this.total) {
        this.getList()
      }
    }, 200)
    this.addScrollListener = () =>
      window.addEventListener('scroll', this.throttledHandler)
    this.removeScrollListener = () =>
      window.removeEventListener('scroll', this.throttledHandler)

    return {
      loading: false,
      page: 1,
      size: 6,
      total: 0,

      list: []
    }
  },

  watch: {
    '$route.name'(value) {
      if (value === 'articleList') {
        this.addScrollListener()
      } else {
        this.removeScrollListener()
      }
    }
  },

  mounted() {
    this.getList()
    this.addScrollListener()
    this.updateTitleAndDescription()
  },

  methods: {
    updateTitleAndDescription() {
      this.$store.commit('updateTitle', 'Stay hungry, stay foolish')
      this.$store.commit('updateDescription', '二师公。')
    },

    getList() {
      this.$request({
        url: '/article',
        data: {
          size: this.size,
          page: this.page,
          published: 1
        },
        onBefore: () => (this.loading = true),
        onSuccess: this.handleGetListSuccessfully,
        onFinally: () => (this.loading = false)
      })
    },

    handleGetListSuccessfully(res) {
      const { list, total } = res.data

      this.setList(list)
      this.total = total
      if (list.length) {
        this.page += this.page
      }
    },

    setList(list) {
      this.list.push(
        ...list.map(item => ({
          ...item,
          deleting: false,
          publishing: false
        }))
      )
    },

    goDetail(id) {
      this.$router.push({
        name: 'articleDetail',
        params: { id }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.article-wrapper {
  .article-item {
    margin-bottom: 30px;
    padding: 16px 20px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58);
    word-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      color: $element-primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #3f51b5;
        transform: scaleX(0);
        transition: $common-transition;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .abstract {
      margin: 0 0 8px;
      font-size: 13px;
      line-height: 24px;
      color: #727272;
      font-style: italic;
    }

    .meta {
      padding-right: 0;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #b4b4b4;

      & > *:not(:first-child):before {
        content: '·';
        padding: 0 0.5em;
      }
      .date {
        line-height: 24px;
        font-weight: bold;
      }

      .classification {
        line-height: 14px;
        font-size: 13px;
        font-weight: bold;
        color: #727272;

        .classification_item {
          color: $contrasting-color;
        }
      }
    }

    .cover {
      display: block;
      max-width: 600px;
      margin: 20px auto 48px;
    }

    .read_more {
      display: inline-block;
      margin-bottom: 20px;
      padding: 0 6px;
      font-weight: 500;
      color: $element-primary-color;
      border: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: #eaecf7;
      }
    }

    .tags {
      position: relative;
      margin: 0 -20px;
      padding: 12px 20px 8px;
      border-top: 1px solid #ddd;

      .tag_item {
        display: inline-block;
        height: 28px;
        margin: 0 8px 8px 0;
        padding: 0 16px;
        color: #fff;
        background-color: #8bc34a;
        font-size: 1em;
        line-height: 28px;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 2px;
      }
    }
  }

  .common_blockquote {
    position: relative;
    padding: 16px 20px;
    border-left: 4px solid #3f51b5;
    color: #6e6e6e;
    background: #f5f5f5;
    font-size: 14px;
    border-radius: 0 2px 2px 0;
  }
}
</style>
