<template>
  <section id="content">
    <router-view></router-view>
    <el-backtop></el-backtop>
  </section>
</template>

<style lang="scss" scoped>
#content {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 40px;
}
</style>
