<template>
  <section class="menu-wrapper">
    <el-menu
      class="el-menu-vertical"
      :default-active="defaultActive"
      @select="handleSelect"
    >
      <el-menu-item index="/">
        <i class="iconfont icon-home"></i>
        <span slot="title">主页</span>
      </el-menu-item>
      <!-- <el-menu-item index="/archive">
        <i class="iconfont icon-archive"></i>
        <span slot="title">归档</span>
      </el-menu-item>
      <el-menu-item index="/classification">
        <i class="iconfont icon-classification"></i>
        <span slot="title">分类</span>
      </el-menu-item>
      <el-menu-item index="/tag">
        <i class="iconfont icon-tag"></i>
        <span slot="title">标签</span>
      </el-menu-item> -->
    </el-menu>
  </section>
</template>

<script>
export default {
  computed: {
    defaultActive() {
      return this.$route.meta.menuKey || this.$route.path
    }
  },

  methods: {
    handleSelect(key) {
      if (this.$route.path !== key) {
        this.$router.push({ path: key })
      }
    }
  }
}
</script>

<style>
.menu-wrapper {
  height: 100%;
}

.el-menu-vertical:not(.el-menu--collapse) {
  height: 100%;
}

.iconfont {
  margin-right: 1rem;
  font-size: 18px;
}
</style>
