<template>
  <section id="outer-wrapper">
    <router-view name="aside"></router-view>
    <router-view name="header"></router-view>
    <div class="content-wrapper">
      <div class="content-header">
        <div v-if="$route.name !== 'articleDetail'" class="title-wrapper">
          <h1 class="title">{{ title }}</h1>
          <h5 class="description">{{ description }}</h5>
        </div>
      </div>
      <router-view name="content"></router-view>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    title() {
      return this.$store.state.title
    },

    description() {
      return this.$store.state.description
    }
  }
}
</script>

<style lang="scss" scoped>
.content-wrapper {
  padding-left: $aside-width;
  transition: $common-transition;

  .content-header {
    min-height: 240px;
    margin-left: -240px;
    padding: 104px 16px 48px 256px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: $element-primary-color;

    .title-wrapper {
      width: 960px;
      margin: 0 auto;

      .title {
        font-size: 44px;
        line-height: 48px;
      }

      .description {
        padding-top: 6px;
        font-weight: 300;
        color: #c5cae9;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.aside_hide {
  & ~ .content-wrapper {
    padding-left: 0;
  }

  & ~ #header {
    left: 0;
  }
}
</style>
