<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
html {
  min-width: 1440px;
  background-color: #f6f6f6;
  color: #212121;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
}
</style>
